* {
    margin: 0;
    box-sizing: border-box;
}
#contact {
    background-color: #add8e6;
    width: 50%;
    padding: 15px 20px;
}
.contact-title {
    font-weight: normal;
    text-transform: uppercase;
}

.title-line {
    height: 2px;
    background-color: #9fc6d4;
}

.container {
    margin-top: 15px;
    background-color: #f8f9fa;
    padding: 10px;
}

.address-title {
    font-weight: normal;
    text-transform: uppercase;
}

.contact-info {
    display: flex;
}

address {
    font-style: normal;
    width: 30%;
}

.phone-num,
.email {
    text-decoration: none;
    display: flex;
    margin: auto;
}
.phone-num span,
.email span {
    margin-left: 2px;
}
.phone-num svg{
    height: 25px;
    width: 25px;
}
.phone-num {
    color: #dc3545;
}

.email svg {
    fill: #17a2b8;
    height: 25px;
    width: 25px;
}
.email {
    color: #17a2b8;
}

.location {
    margin: auto;
}
.location svg {
    fill: #dc3545;
}


.form-container {
    display: flex;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

input {
    outline: none;
    padding: 5px;
    margin: 10px auto;
    height: 40px;
}

textarea {
    outline: none;
    padding: 5px;
    margin: 10px 0;
}

input,
textarea {
    border: 1px solid #dfe3e7;
    border-radius: 3px;
}

input[type="submit"] {
    border: transparent;
    background-color: #dc3545;
    width: 60px;
    color: #f8f9fa;
    font-size: 16px;
}

iframe {
    width: 100%;
    height: 300px;
}

.social-media {
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: left;
}

.social-media svg {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}